.report-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #041c24;
}

.report-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.report-container p {
  font-size: 18px;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.report-table th,
.report-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.report-table th {
  background-color: #04444c;
}

.report-table tr:nth-child(even) {
  background-color: #04444c;
}

.report-table tr:hover {
  background-color: #043c4c;
}
